{% extends 'layouts/private.twig' %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/css/bootstrap-dialog.min.css"/>
{% endblock %}

{% block menu %}
    <a href="{{ path_for('registration.inscriptions', {'id': product_id}) }}" class="btn-floating btn-large waves-effect waves-light right transparent"><i class="mdi mdi-account-plus"></i></a>
    <a href="{{ path_for('product.camerascan', {'id': product_id}) }}" class="btn-floating btn-large waves-effect waves-light right transparent camera-scan"><i class="mdi mdi-camera"></i></a>
    <a href="{{ path_for('product.search', {'id': product_id}) }}" class="btn-floating btn-large waves-effect waves-light right transparent"><i class="mdi mdi-magnify"></i></a>
    <a href="{{ path_for('product.laserscan', {'id': product_id}) }}" class="btn-floating btn-large waves-effect waves-light right transparent laser-scan"><i class="mdi mdi-qrcode-scan"></i></a>
    <img src="/images/trackit-nav.png" alt="Trackit" class="responsive-img right logo-menu">
{% endblock %}

{% block content %}
<main id="create" class="create container">
    <div class="row">
        <div class="col s12">
            <h5 class="left-align white-text mb-30">Nuevo registro</h5>
        </div>
        <form action="{{ path_for('registration.save', {'id': product_id}) }}" method="POST" class="inscriptions col s12">
            <div class="row">
                <div class="col s12 ">
                    {% include 'partials/flash.twig' %}
                </div>
                <div class="input-field col s12 m6">
                    <input type="text" class="white validate" id="firstNameInput" placeholder="Cecilia" name="first_name" required autocomplete="off">
                    <label for="firstNameInput">Nombre</label>
                </div>
                <div class="input-field col s12 m6">
                    <input type="text" class="white validate" id="lastNameInput" placeholder="Rodríguez de Diego" name="last_name" required autocomplete="off">
                    <label for="lastNameInput">Apellidos</label>
                </div>
                <div class="input-field col s12 m12">
                    <input type="email" class="white validate" id="emailInput" placeholder="ejemplo@gmail.com" name="email" required autocomplete="off">
                    <label for="emailInput">Email</label>
                </div>
                <div class="input-field col s12 m6">
                    <input type="text" class="white validate" id="nifInput" placeholder="Nº de indentificación" name="nif" required autocomplete="off">
                    <label for="nifInput">DNI, pasaporte, etc</label>
                </div>
                <div class="input-field col s12 m6">
                    <input type="text" class="white validate" id="companyInput" placeholder="Nombre de la Empresa S.A." name="company" autocomplete="off">
                    <label for="companyInput">Empresa</label>
                </div>
                <div class="input-field col s12 m6">
                    <input type="text" class="white validate" id="positionInput" placeholder="Puesto de trabajo" name="position" autocomplete="off">
                    <label for="positionInput">Cargo</label>
                </div>
                <div class="input-field col s12 m6">
                    <select class="white validate" id="typeId" name="registration_type_id" required>
                        {% for type in registration_type %}
                            <option value="{{ loop.index }}">{{ type }}</option>
                        {% endfor %}
                    </select>
                    <label for="typeId">Tipo de registro</label>
                </div>
                {{ csrf.field | raw }}
                <div class="col s12 right-align">
                    <button class="waves-effect waves-dark btn-large green text-white" type="submit" name="action">Registrar
                        <i class="mdi mdi-login right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</main>
{% endblock %}
{% block footer %}
<footer>
    <div id="modalmsg" class="inscriptions modal lg orange">
        <div class="modal-content">
            <h5 class="mt-0 mb-3 center-align"><i class="mdi mdi-alert"></i><br>Revise los datos<br></h5>
            <p class="msg"></p>
            <p><small><strong>ATENCIÓN:</strong> Recibirá un correro electrónico con el proceso de acreditación.</small></p>
        </div>
        <div class="modal-footer orange">
            <a href="#0" class="waves-effect white-text waves-white green btn-flat" onclick="createAction();"><i class="mdi mdi-check right"></i>Confirmar</a>
            <a href="#0" class="left modal-close waves-effect white-text waves-white grey btn-flat">Atrás</a>
        </div>
    </div>
</footer>
{% endblock %}

{% block scripts %}
    {# <script src="{{ base_url() }}/js/bootstrap-dialog.min.js"></script> #}
    <script>
        function createAction(verification) {
            var action = $('form').attr('action');
            var method = $('form').attr('method');
            var serializedData = $('form').serialize();

            $.ajax({
                type: method,
                url: action,
                data: serializedData+'&verification='+verification,
                context: this,
                cache: false,
                success: function(data) {
                    setTimeout(function() {
                        location.reload(true);
                    }, 3000);
                },
                error: function(data) {
                    console.log(data);
                }
            });
        }
    </script>
    <script>
        $('form').submit(function(event) {
            event.preventDefault();

            var name = $('#firstNameInput').val();
            var lastname = $('#lastNameInput').val();
            var email = $('#emailInput').val();
            var businness = $('#companyInput').val();
            var nif = $('#nifInput').val();
            var position = $('#positionInput').val();
            var typeId = $('#typeId option:selected').text();

            if(typeId === "Asistente") {
                BootstrapDialog.show({
                    size: BootstrapDialog.SIZE_LARGE,
                    {% if type %}
                    title: '¿Están correctos los datos?',
                    {% else %}
                    title: '¿Están correctos los datos del nuevo '+typeId+'?',
                    {% endif %}
                    buttons: [{
                    message: '<div class="well"><h4>'+name+' '+lastname+'<br>'+businness+'<br>'+nif+'<br>'+position+'</small></h4></div><</span>Requiere validación de entrada, <strong>recibirá un email</strong> con los datos.</p>',
                        label: '&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-check" aria-hidden="true"></i>&nbsp; Confirmar datos &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;',
                        cssClass: 'btn-success pull-rigth',
                        action: function() {
                            $(this).empty().toggleClass('btn-success btn-warning').html('<i class="fa fa-spinner fa-spin"></i> ENVIANDO');
                            createAction(0);
                        }
                    }, {
                        label: '<i class="fa fa-chevron-left" aria-hidden="true"></i> Revisar',
                        cssClass: 'btn-danger pull-left',
                        action: function(dialog) {
                            dialog.close();
                        }
                    }],
                    type: BootstrapDialog.TYPE_SUCCESS
                });
            } else {
                BootstrapDialog.show({
                    size: BootstrapDialog.SIZE_LARGE,
                    title: 'Confirmar el acceso',
                    buttons: [{
                    message: '<div class="well"><h4>'+name+' '+lastname+'<bmall></h4></div><p>Por favor, confirme si el '+typeId+' ha accedido</p>',
                        label: '<i class="fa fa-chevron-left" aria-hidden="true"></i> No',
                        cssClass: 'btn-danger pull-left',
                        action: function(dialog) {
                            $(this).empty().toggleClass('btn-success btn-warning').html('<i class="fa-li fa fa-spinner fa-spin"></i> ENVIANDO');
                            createAction(0);
                        }
                    },{
                        label: '&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-check" aria-hidden="true"></i>&nbsp;Sí&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;',
                        cssClass: 'btn-success pull-rigth',
                        action: function() {
                            $(this).empty().toggleClass('btn-success btn-warning').html('<i class="fa-li fa fa-spinner fa-spin"></i> ENVIANDO');
                            createAction(1);
                        }
                    }],
                    type: BootstrapDialog.TYPE_SUCCESS
                });
            }
        });
    </script>
{% endblock %}
