{% extends 'layouts/private.twig' %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/css/bootstrap-dialog.min.css"/>
{% endblock %}

{% block menu %}
    {% if type %}
    {% else %}
    <a href="{{ path_for('registration.create', {'id': product_id}) }}?type=asistente" class="scan-menu">
        <i class="icon-plus fa-2x" aria-hidden="true"></i>
    </a>
    <a href="{{ path_for('product.registrations', {'id': product_id}) }}">
        <i class="icon-magnifier fa-2x" aria-hidden="true"></i>
    </a>
    {% endif %}
    <a href="{{ path_for('product.registrations', {'id': product_id}) }}" class="logo hidden-xs">
        <img src="/images/trackit-nav.png" alt="Trackit" class="img-responsive img-block">
    </a>
    <a href="{{ path_for('product.registrations', {'id': product_id}) }}" class="logo-mobile visible-xs">
        <img src="/images/logo_trackit.png" alt="Trackit" class="img-responsive img-block">
    </a>
{% endblock %}

{% block content %}
    <div id="create">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <form action="{{ path_for('registration.save', {'id': product_id}) }}" method="POST" class="row">
                        <div class="form-group col-xs-12 col-sm-6">
                            <label for="firstNameInput">Nombre <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="firstNameInput" placeholder="Cecilia" name="first_name" required autocomplete="off">
                        </div>
                        <div class="form-group col-xs-12 col-sm-6">
                            <label for="lastNameInput">Apellidos <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="lastNameInput" placeholder="Rodríguez de Diego" name="last_name" required autocomplete="off">
                        </div>
                        <div class="form-group col-xs-12 col-sm-6">
                            <label for="emailInput">Email <span class="text-danger">*</span></label>
                            <input type="email" class="form-control" id="emailInput" placeholder="ejemplo@gmail.com" name="email" required autocomplete="off">
                        </div>
                        <div class="form-group col-xs-12 col-sm-6">
                            <label for="nifInput">DNI, pasaporte, etc <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="nifInput" placeholder="Nº de indentificación" name="nif" required autocomplete="off">
                        </div>
                        {% if type %}
                        <div class="form-group col-xs-12 col-sm-6">
                        {% else %}
                        <div class="form-group col-xs-12 col-sm-4">
                        {% endif %}
                            <label for="companyInput">Empresa</label>
                            <input type="text" class="form-control" id="companyInput" placeholder="Nombre de la Empresa S.A." name="company" autocomplete="off">
                        </div>
                        {% if type %}
                        <div class="form-group col-xs-12 col-sm-6">
                        {% else %}
                        <div class="form-group col-xs-12 col-sm-4">
                        {% endif %}
                            <label for="positionInput">Cargo</label>
                            <input type="text" class="form-control" id="positionInput" placeholder="Puesto de trabajo" name="position" autocomplete="off">
                        </div>
                        <div class="form-group col-xs-12 col-sm-4 {{ type ? 'hidden' }}">
                            <label for="typeId">Tipo de registro <span class="text-danger">*</span></label>
                            <select class="form-control" id="typeId" name="registration_type_id" required>
                                {% for type in registration_type %}
                                    <option value="{{ loop.index }}">{{ type }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {{ csrf.field | raw }}
                        <div class="clearfix"></div>
                        <div class="col-xs-4 col-sm-6 text-left">
                            <a href="{{ path_for('registration.create', {'id': product_id}) }}" class="btn btn-danger btn-lg {{ type ? 'hidden' }}"><i class="fa fa-trash" aria-hidden="true"></i> <span class="hidden-xs">Borrar datos</span></a>
                        </div>
                        <div class="col-xs-8 col-sm-6 text-right">
                            <button type="submit" class="btn btn-success btn-lg"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ base_url() }}/js/bootstrap-dialog.min.js"></script>
    <script>
        function createAction(verification) {
            var action = $('form').attr('action');
            var method = $('form').attr('method');
            var serializedData = $('form').serialize();

            $.ajax({
                type: method,
                url: action,
                data: serializedData+'&verification='+verification,
                context: this,
                cache: false,
                success: function(data) {
                    setTimeout(function() {
                        location.reload(true);
                    }, 3000);
                },
                error: function(data) {
                    console.log(data);
                }
            });
        }
    </script>
    <script>
        $('form').submit(function(event) {
            event.preventDefault();

            var name = $('#firstNameInput').val();
            var lastname = $('#lastNameInput').val();
            var email = $('#emailInput').val();
            var businness = $('#companyInput').val();
            var nif = $('#nifInput').val();
            var position = $('#positionInput').val();
            var typeId = $('#typeId option:selected').text();

            if(typeId === "Asistente") {
                BootstrapDialog.show({
                    size: BootstrapDialog.SIZE_LARGE,
                    {% if type %}
                    title: '¿Están correctos los datos?',
                    {% else %}
                    title: '¿Están correctos los datos del nuevo '+typeId+'?',
                    {% endif %}
                    message: '<div class="well"><h4>'+name+' '+lastname+'<br><small class="text-danger">'+email+'<br>'+businness+'<br>'+nif+'<br>'+position+'</small></h4></div><p><span class="text-danger">ATTENCIÓN: </span>Requiere validación de entrada, <strong>recibirá un email</strong> con los datos.</p>',
                    buttons: [{
                        label: '&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-check" aria-hidden="true"></i>&nbsp; Confirmar datos &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;',
                        cssClass: 'btn-success pull-rigth',
                        action: function() {
                            $(this).empty().toggleClass('btn-success btn-warning').html('<i class="fa fa-spinner fa-spin"></i> ENVIANDO');
                            createAction(0);
                        }
                    }, {
                        label: '<i class="fa fa-chevron-left" aria-hidden="true"></i> Revisar',
                        cssClass: 'btn-danger pull-left',
                        action: function(dialog) {
                            dialog.close();
                        }
                    }],
                    type: BootstrapDialog.TYPE_SUCCESS
                });
            } else {
                BootstrapDialog.show({
                    size: BootstrapDialog.SIZE_LARGE,
                    title: 'Confirmar el acceso',
                    message: '<div class="well"><h4>'+name+' '+lastname+'<br><small class="text-danger">'+typeId+'</small></h4></div><p>Por favor, confirme si el '+typeId+' ha accedido</p>',
                    buttons: [{
                        label: '<i class="fa fa-chevron-left" aria-hidden="true"></i> No',
                        cssClass: 'btn-danger pull-left',
                        action: function(dialog) {
                            dialog.close();
                        }
                    },{
                        label: '&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-check" aria-hidden="true"></i>&nbsp;Sí&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;',
                        cssClass: 'btn-success pull-rigth',
                        action: function() {
                            $(this).empty().toggleClass('btn-success btn-warning').html('<i class="fa-li fa fa-spinner fa-spin"></i> ENVIANDO');
                            createAction(1);
                        }
                    }],
                    type: BootstrapDialog.TYPE_SUCCESS
                });
            }
        });
    </script>
{% endblock %}
