{% extends 'layouts/private.twig' %} {% block styles %}
<link rel="stylesheet" type="text/css" href="{{ base_url() }}/css/bootstrap-dialog.min.css" />
{% endblock %} 
{% block menu %}
<a href="{{ path_for('registration.assistants', {'id': product_id}) }}" class="btn-floating btn-large waves-effect waves-light right transparent tooltipped" data-position="right" data-tooltip="Registro de invitados SIN ENTRADA/QR"><i
        class="mdi mdi-account-plus"></i></a>
<a href="{{ path_for('product.search', {'id': product_id}) }}" class="btn-floating btn-large waves-effect waves-light right transparent tooltipped" data-position="right" data-tooltip="Registro de asistentes insitu REQUIERE ENTRADA/QR"><i
        class="mdi mdi-magnify"></i></a>
<a href="{{ path_for('product.laserscan', {'id': product_id}) }}" class="btn-floating btn-large waves-effect waves-light right transparent laser-scan tooltipped" data-position="right" data-tooltip="Escáner de ENTRADAS/QR"><i
        class="mdi mdi-qrcode-scan"></i></a>
{% endblock %}
{% block content %}
<main id="create" class="create container">
    <div class="row">
        <div class="col s12">
            <h5 class="left-align white-text mb-30">Nuevo registro <br>SIN ENTRADA/QR</h5>
        </div>
        <form action="{{ path_for('registration.save', {'id': product_id}) }}" method="POST" class="inscriptions col s12">
            <div class="row">
                <div class="col s12 ">
                    {% include 'partials/flash.twig' %}
                </div>
                <div class="input-field col s12 m6">
                    <input type="text" class="white validate" id="firstNameInput" placeholder="Cecilia" name="first_name" required autocomplete="off">
                    <label for="firstNameInput">Nombre</label>
                </div>
                <div class="input-field col s12 m6">
                    <input type="text" class="white validate" id="lastNameInput" placeholder="Rodríguez de Diego" name="last_name" required autocomplete="off">
                    <label for="lastNameInput">Apellidos</label>
                </div>
                <div class="input-field col s12 m12">
                    <input type="email" class="white validate" id="emailInput" placeholder="ejemplo@gmail.com" name="email" required autocomplete="off">
                    <label for="emailInput">Email</label>
                </div>
                <div class="input-field col s12 m6">
                    <input type="text" class="white validate" id="nifInput" placeholder="Nº de indentificación" name="nif" autocomplete="off">
                    <label for="nifInput">DNI, pasaporte, etc</label>
                </div>
                <div class="input-field col s12 m6">
                    <input type="text" class="white validate" id="companyInput" placeholder="Nombre de la Empresa S.A." name="company" autocomplete="off">
                    <label for="companyInput">Empresa</label>
                </div>
                <div class="input-field col s12 m6">
                    <input type="text" class="white validate" id="positionInput" placeholder="Puesto de trabajo" name="position" autocomplete="off">
                    <label for="positionInput">Cargo</label>
                </div>
                <div class="input-field col s12 m6">
                    <select class="white validate" id="type" name="registration_type" required>
                        <option>Invitado</option>
                        <option>Ponente</option>
                        <option>Prensa</option>
                    </select>
                    <label for="type">Tipo de registro</label>
                </div>
                {{ csrf.field | raw }}
                <div class="col s12 right-align">
                    <button class="waves-effect waves-dark btn-large green text-white" type="submit" name="action">Registrar
                        <i class="mdi mdi-login right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</main>
{% endblock %} {% block footer %}
<footer>
    <div id="modalmsg" class="inscriptions modal lg  grey darken-2">
        <div class="modal-content">
            <h5 class="mt-0 mb-3 center-align"><i class="mdi mdi-alert"></i><br>Revise los datos<br></h5>
            <p class="msg"></p>
            <p><small><strong>ATENCIÓN:</strong> ESTE PROCESO NO REQUIERE ENTRADA QR.</small></p>
        </div>
        <div class="modal-footer  grey darken-2">
            <a href="#0" class="waves-effect white-text waves-white orange btn-flat save-action" onclick="createAction();"><i class="mdi mdi-check right"></i>Confirmar</a>
            <a href="#0" class="left modal-close waves-effect white-text waves-white grey btn-flat">Atrás</a>
        </div>
    </div>
</footer>
{% endblock %} {% block scripts %}

<script>
    function createAction() {
        var action = $('form').attr('action');
        var method = $('form').attr('method');
        var serializedData = $('form').serialize();
        var btnLaunch = $('.save-action');
        var btnBack = $('.modal-close');
        btnBack.addClass('hide');
        btnLaunch.removeClass('grey darken-2').addClass('red');
        btnLaunch.empty().html('<i class="mdi mdi-loading mdi-spin right"></i> ENVIANDO');
        $.ajax({
            type: method,
            url: action,
            data: serializedData + '&verification=1',
            context: this,
            cache: false,
            success: function (data) {
                setTimeout(function () {
                    location.reload(true);
                }, 3000);
            },
            error: function (data) {
                console.log(data);
            }
        });
    }
</script>
<script>
    $('form').submit(function (event) {
        event.preventDefault();

        var name = $('#firstNameInput').val();
        var lastname = $('#lastNameInput').val();
        var email = $('#emailInput').val();
        var businness = $('#companyInput').val();
        var nif = $('#nifInput').val();
        var position = $('#positionInput').val();
        var typeId = $('#typeId option:selected').text();

        $('#modalmsg .modal-content p.msg').html(name + ' ' + lastname + '<br><small>' + email);
        $('#modalmsg').modal('open');
    });
</script> {% endblock %}