<!-- start: header -->
<header class="header">
    <div class="logo-container">
        <a href="{{ path_for('home') }}" class="logo">
            <img src="{{ base_url() }}/assets/images/logo.png" height="35" alt="Porto Admin" />
        </a>
        <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
            <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
        </div>
    </div>

    <!-- start: search & user box -->
    <div class="header-right">

        {# <form action="#0" class="search nav-form">
            <div class="input-group input-search">
                <input type="text" class="form-control" name="q" id="q" placeholder="Buscar eventos...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form> #}

        <span class="separator"></span>

        <div id="userbox" class="userbox">
            <a href="#" data-toggle="dropdown">
                <figure class="profile-picture">
                    <img src="{{ base_url() }}/assets/images/user-f.svg" alt="Joseph Doe" class="img-circle" data-lock-picture="{{ base_url() }}/assets/images/!logged-user.jpg" />
                </figure>
                <div class="profile-info" data-lock-name="{{ auth.user.fullName() }}" data-lock-email="{{ auth.user.email }}">
                    <span class="name">{{ auth.user.fullName() }}</span>
                    <span class="role">{{ auth.user.companies().first().name }}</span>
                </div>

                <i class="fa custom-caret"></i>
            </a>

            <div class="dropdown-menu">
                <ul class="list-unstyled">
                    <li class="divider"></li>
                    <li>
                        <a role="menuitem" tabindex="-1" href="{{ path_for('auth.signout', {'lang': lang}) }}"><i class="fa fa-power-off"></i> Cerrar sesión</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- end: search & user box -->
</header>
<!-- end: header -->
