<!doctype html>
<html class="no-js" lang="es">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <!-- Page Title Here -->
        <title>Trackit suite</title>
        <!-- Page Description Here -->
        <meta name="description" content="Trackit suite, el sistema de gestión de eventos definitivo">
        <!-- Disable screen scaling-->
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, user-scalable=0">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="{{ base_url() }}/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ base_url() }}/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ base_url() }}/css/simple-line-icons.css">

        <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    </head>

    <body>
    <div class="overlay"></div>
        <header>
            {% block head %}{% endblock %}
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            {% block footer %}{% endblock %}
        </footer>
        <!-- All Javascript plugins goes here -->
        <script src="{{ base_url() }}/js/jquery.min.js"></script>
        <script src="{{ base_url() }}/js/bootstrap.min.js"></script>

        {% include 'partials/analytics.twig' %}
        <script>
            $(window).load(function() {
             $('.login form').submit()
            });
        </script>
    </body>

</html>
