{% extends 'layouts/private.twig' %}

{% block content %}
    <div id="product-info">
        <div class="row">
            <div class="col-xs-12">
                <p>
                    <img src="{{ product.img }}" alt="{{ product.title }}" class="img-responsive">
                </p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="well well-sm">
                        <i class="fa fa-calendar-o" aria-hidden="true"></i> {{ product.start }}
                    </div>
                    <div class="well well-sm">
                        <i class="fa fa-calendar-o" aria-hidden="true"></i> {{ product.end }}
                    </div>
                    <p class="text-center">
                        <a class="btn btn-link" href="{{ path_for('registration.verification', {'id': product.id}) }}">
                            <i class="fa fa-qrcode fa-4x" aria-hidden="true"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
