{% extends 'layouts/private.twig' %}

{% block menu %}
    <a href="{{ path_for('registration.assistants', {'id': product_id}) }}" class="btn-floating btn-large waves-effect waves-light right transparent tooltipped" data-position="right" data-tooltip="Registro de invitados SIN ENTRADA/QR"><i class="mdi mdi-account-plus"></i></a>
    <a href="{{ path_for('product.search', {'id': product_id}) }}" class="btn-floating btn-large waves-effect waves-light right transparent tooltipped" data-position="right" data-tooltip="Registro de asistentes insitu REQUIERE ENTRADA/QR"><i class="mdi mdi-magnify"></i></a>
    <a href="{{ path_for('product.laserscan', {'id': product_id}) }}" class="btn-floating btn-large waves-effect waves-light right purple laser-scan tooltipped" data-position="right" data-tooltip="Escáner de ENTRADAS/QR"><i class="mdi mdi-qrcode-scan"></i></a>
{% endblock %}

{% block content %}
    <main id="laserscan">
        <div class="row">
            <div class="col s12">
                <div class="container">
                    <h4 id="product-name" class="white-text center-align">{{ product_name }}</h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row mb-0">
                <div class="col s12 white-text center-align">
                    <div class="head-scan"></div>
                    <div style="position:fixed;top:-200px">
                        <input type="text" class="form-control" id="verify" />
                    </div>
                </div>
            </div>
        </div>
        <div class="results-scan"></div>
    </main>
{% endblock %}
{% block footer %}
<footer>
    <a class="btn-floating right btn-large waves-effect waves-light blue mr-10 mb-10 modal-trigger" href="#modalcharts"><i class="mdi mdi-chart-arc"></i></a>
    <div id="modalmsg" class="modal">
        <div class="modal-content">
        </div>
        <div class="modal-footer">
            <a href="#0" class="modal-close waves-effect white-text waves-white btn-flat">Cerrar</a>
        </div>
    </div>
    <div id="modalcharts" class="modal bottom-sheet">
        <div class="modal-content">
            <div class="row">
            </div>
        </div>
    </div>
</footer>

{% endblock %}

{% block scripts %}
    <script src="{{ base_url() }}/js/jquery.easypiechart.min.js"></script>
    <script>
        var col;
        function info() {
            $.ajax({
                type: "GET",
                url: "/product/info/{{ product_id }}",
                dataType: "json",
                cache: false,
                context: this,
                success: function(a) {
                    $('.head-scan, #modalcharts .modal-content .row').empty();
                    $('.head-scan').html('<h1><i class="mdi mdi-qrcode-scan"></i></h1><h4>Escáner listo <br><small>Pulse las teclas para comenzar búsqueda.</small></h4>');           
                    col = '';
                    for (index in a['registrations'] ) {
                        var val =  $.map(a['registrations'][index], function(value){
                            return value;
                        });
                        var total = val[0];
                        var verified = val[1];
                        var percentage = Math.floor((verified / total) * 100);
                        isFinite(percentage) ? 0 : percentage;
                        var valueBar = (percentage >= 60) ? 'light' : '';
                        $('#modalcharts .modal-content .row').append('<div class="col s6 mb-10"><p class="name-bar m-0 blue-grey-text text-darken-4"><span style="text-tansform: capitalize;">'+ index +'s </span> '+verified+ ' de '+ total +'</p><div class="progress '+ valueBar +'"><span style="z-index:999; position:absolute;left:0; width:100%;">'+ percentage +'%</span> <div class="determinate" style="width: '+percentage+'%"></div></div></div>');
                    }
                },
                error: function(a) {
                    console.log(a);
                }
            });
        };
        
        function callModal(style,title,message) {
            $('#modalmsg').modal('open');
            $('#modalmsg, #modalmsg .modal-footer').removeClass('green orange red');
            $('#modalmsg, #modalmsg .modal-footer').addClass(style);
            $('#modalmsg .modal-content').html('<h4>'+title+'</h4>');
            $('#modalmsg .modal-content').html(message);      
        }

        function cleanner() {
            $('#modalmsg').modal('close');
            $('input.search').val('');
            $('.btn-clear').addClass('hide');
            setTimeout(function(){
                $('.nolist').removeClass('hide');
                $('footer .modal-trigger').removeClass('hide');
                setTimeout(function(){
                    $('#list').addClass('hide');
                    $('input.search').focus();
                }, 1000);
            }, 1000);
        }
        
        var scanner;
        function startScan() {
            scanner.addListener('scan', function(code) {
                if (code.length !== 0) {
                    verifyCode(code);
                }
            });
        }
        function verifyCode(code) {
            $('#verify').val('');

            var title, message, buttons, style;
            var metadata = '';

            $.ajax({
                type: "GET",
                url: "/registration/verify/"+code+"?method=manual",
                dataType: "json",
                context: this,
                cache: false,
                success: function(a) {
                    
                    for (var key in a.metadata) {
                        metadata += '<li><strong>'+key+'</strong>: '+a.metadata[key]+'</li>';
                    }
                    style = 'green';
                    title = '<i class="mdi mdi-check-circle"></i>  Correcto';
                    message = '<ul class="white-text"><li><h5>'+a.customer.first_name+' '+a.customer.last_name+'</h5></li><li style="text-transform:capitalize;">'+ a.type +'</li>'+metadata+'</ul>';

                    $('.results-scan').append(message);

                    $(this).closest('tr').addClass('green lighten-5');
                    $(this).children('i').removeClass (function (index, className) { return (className.match (/(^|\s)mdi-\S+/g) || []).join(' ');}).removeClass('blue-text').addClass('mdi-check green-text');

                    callModal(style,title,message);
                    
                    setTimeout(function() {cleanner() }, 2000);
                },
                error: function(jqXHR) {
                    var response = JSON.parse(jqXHR.responseText);
                    
                    if (jqXHR.status == 403) {
                        style = 'orange';
                        title = '<i class="mdi mdi-alert-circle-outline"></i> Cuidado';
                        message = '<p>'+response.message+'</p>';
                    } else {
                        style = 'red';
                        title = '<i class="mdi mdi-alert"></i> Error';
                        message = '<p>'+response.message+'</p>';
                    }
                    
                    callModal(style,title,message);
                    setTimeout(function() {cleanner() }, 2000);
                }
            });
        }

        $('#verify').on('input', function(e) {
            var code = $(this).val();

            $(this).hide();
            $(this).blur();

            verifyCode(code);

            $(this).show();
        });
        var fired = false;

        $('html').bind('keydown', function(e) {
            if (!fired &&
                e.keyCode == 0 &&
                typeof e.originalEvent !== 'undefined' &&
                (typeof e.originalEvent.key == 'undefined' ||
                    e.originalEvent.key == 'Unidentified')
            ) {
                fired = true;
                $('#verify').focus();
                $('.head-scan').empty();
                $('.head-scan').html('<h1><i class="mdi mdi-loading mdi-spin"></i></h1><h4>Escaneando ...<br><small></small></h4>');
            }
        });

        $('html').bind('keyup', function(e) {
            if (
                e.keyCode == 0 &&
                typeof e.originalEvent !== 'undefined' &&
                (typeof e.originalEvent.key == 'undefined' ||
                    e.originalEvent.key == 'Unidentified')

            ) {
                fired = false;
                $('.head-scan').empty();
                $('.head-scan').html('<h1><i class="mdi mdi-qrcode-scan"></i></h1><h4>Escáner listo <br><small>Pulse las teclas para comenzar búsqueda.</small></h4>');
            }
        });

        $(document).on('click', '.modal-trigger', function() {
            info();
        });
    </script>
    <script type="text/javascript">
        var idleTime = 0;
        $(document).ready(function () {
            info();

            //Increment the idle time counter every minute.
            var idleInterval = setInterval(timerIncrement, 60000); // 1 minute
        
            //Zero the idle timer on mouse movement.
            $(this).mousemove(function (e) {
                idleTime = 0;
            });
            $(this).keypress(function (e) {
                idleTime = 0;
            });
        });
        
        function timerIncrement() {
            idleTime = idleTime + 1;
            if (idleTime > 9) { // 20 minutes
                window.location.reload();
            }
        }
    </script>   
{% endblock %}
