{% extends 'layouts/private.twig' %}

{% block menu %}
    <a href="{{ path_for('registration.assistants', {'id': product_id}) }}" class="btn-floating btn-large waves-effect waves-light right transparent tooltipped" data-position="right" data-tooltip="Registro de invitados SIN ENTRADA/QR"><i class="mdi mdi-account-plus"></i></a>
    <a href="{{ path_for('product.search', {'id': product_id}) }}" class="btn-floating btn-large waves-effect waves-light right transparent tooltipped" data-position="right" data-tooltip="Registro de asistentes insitu REQUIERE ENTRADA/QR"><i class="mdi mdi-magnify"></i></a>
    <a href="{{ path_for('product.laserscan', {'id': product_id}) }}" class="btn-floating btn-large waves-effect waves-light right purple laser-scan tooltipped" data-position="right" data-tooltip="Escaner de ENTRADAS/QR"><i class="mdi mdi-qrcode-scan"></i></a>
{% endblock %}

{% block content %}
    <main id="laserscan">
        <div class="row">
            <div class="col s12">
                <div class="container">
                    <h4 id="product-name" class="white-text center-align"></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row mb-0">
                <div class="col s12 white-text center-align">
                    <div class="head-scan"></div>
                    <div style="position:fixed;top:-200px">
                        <input type="text" class="form-control" id="verify" />
                    </div>
                </div>
            </div>
        </div>
        <div class="results-scan"></div>
    </main>
{% endblock %}
{% block footer %}
<footer>
    <div id="modalmsg" class="modal">
        <div class="modal-content">
            <h4></h4>
            <p></p>
        </div>
        <div class="modal-footer">
            <a href="#0" class="modal-close waves-effect white-text waves-white btn-flat">Cerrar</a>
        </div>
    </div>
</footer>

{% endblock %}

{% block scripts %}
    <script src="{{ base_url() }}/js/searchtable.js"></script>
    <script>

        var info = function () {
            $.ajax({
                type: "GET",
                url: "/product/info/{{ product_id }}",
                dataType: "json",
                cache: false,
                context: this,
                success: function(a) {
                    $('#product-name').text(a.name);
                    $('.head-scan').html('<h1><i class="mdi mdi-qrcode-scan"></i></h1><h4>Escaner listo <br><small>Pulse las teclas para comenzar búsqueda.</small></h4>');
                },
                error: function(a) {
                    console.log(a);
                }
            });
        }

        var scanner;
        function startScan() {
            scanner.addListener('scan', function(code) {
                if (code.length !== 0) {
                    verifyCode(code);
                }
            });
        }
        function verifyCode(code) {
            $('#verify').val('');

            $.ajax({
                type: 'GET',
                url: '/registration/verify/' + code + '?method=qr',
                dataType: 'json',
                cache: false,
                success: function(a) {
                    var title, message, buttons, type;
                    var metadata = '';
                    if (a.status == 'error') {
                        style = 'red';
                        title = 'Error';
                        message = a.message;
                        setTimeout(function(){
                            $('#modalmsg').modal('close');
                        }, 1000)
                    } else if (a.status == 'warning') {
                        style = 'orange';
                        title = 'Cuidado';
                        message = a.message;
                        setTimeout(function(){
                            $('#modalmsg').modal('close');
                        }, 1000)
                    } else if (a.status == 'success') {
                        for (var key in a.metadata) {
                            metadata += '<strong>'+key+'</strong>: '+a.metadata[key]+'<br>';
                        }
                        style = 'green';
                        title = a.message;
                        message = a.user+'<br /><span class="type white-text">'+a.type+'</span><br><small>'+metadata+'</small>';
                        if($('.results-scan').children('p').length >= 3) {
                            $('.results-scan p:first-child').remove();
                        }
                        $('.results-scan').append('<p class="white-text">'+a.user+': <small>Orden'+metadata+'</small></p>');
                        setTimeout(function(){
                            $('#modalmsg').modal('close');
                        }, 3000)
                    }

                    $('#modalmsg, #modalmsg .modal-footer').removeClass('green orange red');
                    $('#modalmsg, #modalmsg .modal-footer').addClass(style);
                    $('#modalmsg .modal-content h4').html(title);
                    $('#modalmsg .modal-content p').html(message);

                    $('#modalmsg').modal('open');
                    $(this).data('uniqueid', null);
                },
                error: function(a) {
                    location.reload();
                }
            });
        }

        $('#verify').on('input', function(e) {
            var code = $(this).val();

            $(this).hide();
            $(this).blur();

            verifyCode(code);

            $(this).show();
        });
        var fired = false;

        $('html').bind('keydown', function(e) {
            if (!fired &&
                e.keyCode == 0 &&
                typeof e.originalEvent !== 'undefined' &&
                (typeof e.originalEvent.key == 'undefined' ||
                    e.originalEvent.key == 'Unidentified')
            ) {
                fired = true;
                $('#verify').focus();
                $('.head-scan').empty();
                $('.head-scan').html('<h1><i class="mdi mdi-loading mdi-spin"></i></h1><h4>Escaneando ...<br><small></small></h4>');
            }
        });

        $('html').bind('keyup', function(e) {
            if (
                e.keyCode == 0 &&
                typeof e.originalEvent !== 'undefined' &&
                (typeof e.originalEvent.key == 'undefined' ||
                    e.originalEvent.key == 'Unidentified')

            ) {
                fired = false;
                $('.head-scan').empty();
                $('.head-scan').html('<h1><i class="mdi mdi-qrcode-scan"></i></h1><h4>Escaner listo <br><small>Pulse las teclas para comenzar búsqueda.</small></h4>');
            }
        });

        $(document).ready(function() {
            info();
         });
    </script>
{% endblock %}
