{% extends 'layouts/private.twig' %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/css/bootstrap-dialog.min.css"/>
{% endblock %}

{% block menu %}
    <a href="{{ path_for('registration.create', {'id': product_id}) }}">
        <i class="icon-user-following fa-2x" aria-hidden="true"></i>
    </a>
    <a href="#0" class="scan-menu">
        <i class="icon-camera fa-2x" aria-hidden="true"></i>
    </a>
    <a href="#0" class="search-menu hidden">
        <i class="icon-magnifier fa-2x" aria-hidden="true"></i>
    </a>
    <a href="#0" class="logo hidden-xs lenovo">
        <img src="/images/trackit-nav.png" alt="Trackit" class="img-responsive img-block">
    </a>
    <a href="#0" class="logo-mobile visible-xs lenovo">
        <img src="/images/logo_trackit.png" alt="Trackit" class="img-responsive img-block">
    </a>
{% endblock %}

{% block content %}
    <div id="registrations">
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="container">
                    <h3 id="product-name"></h3>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="input-group">
                        <input type="text" class="search form-control" placeholder="Búsqueda predictiva" id="search" />
                        <div style="position:fixed;top:-200px">
                            <input type="text" class="form-control" id="verify" />
                        </div>
                        <span class="input-group-btn">
                            <button class="btn btn-danger btn-clear hidden" type="button">
                                <i class="fa fa-times"></i>
                            </button>
                            <button class="btn btn-default btn-search" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nombre Apellidos</th>
                                <th>DNI</th>
                                <th>Empresa</th>
                                <th class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="list hidden">
                            {% for customer in registrations %}
                                {% if customer.is_authorized == 0 %}
                                <tr class="bg-danger">
                                {% else %}
                                <tr>
                                {% endif %}
                                    <td class="name">
                                        {{ customer.first_name }} {{ customer.last_name }} <br>
                                        {% if customer.type.name ==  'Ponente'%}
                                            <h5 class="text-danger">{{ customer.type.name }}</h5>
                                        {% else %}
                                            <small>
                                            {{ customer.type.name }}
                                            {% if customer.is_authorized == 0 %}
                                                 | Denegado
                                            {% endif %}
                                            {% if customer.is_confirmed == 0 %}
                                                 | No Confirmado
                                            {% endif %}
                                            {% if customer.is_cancelled == 1 %}
                                                 | No Asiste
                                            {% endif %}
                                            </small>
                                        {% endif %}
                                    </td>
                                    <td class="nif">
                                        {{ customer.nif }}
                                    </td>
                                    <td class="company">
                                        {{ customer.company }}
                                    </td>
                                    <td class="verification">
                                        {% if customer.verification > 0 %}
                                            <span class="text-success">
                                                <i class="fa fa-toggle-on fa-3x" aria-hidden="true"></i>
                                            </span>
                                        {% else %}
                                            {% if customer.is_authorized == 0 %}
                                                <span class="text-secondary">
                                                    <i class="fa fa-ban fa-3x" aria-hidden="true"></i>
                                                </span>
                                            {% else %}
                                                <a href="#0" class="text-muted" data-uniqueid="{{ customer.unique_id }}">
                                                    <i class="fa fa-toggle-on fa-rotate-180 fa-3x" aria-hidden="true"></i>
                                                </a>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tbody class="nolist">
                            <tr>
                                <td class="name" colspan="4">
                                    Actualmente no se muestran resultados
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="instascan" class="hidden">
        <video id="preview"></video>
    </div>
{% endblock %}
{% block footer %}
    <a href="#0" class="toggler">
        <i class="icon-arrow-up" aria-hidden="true"></i>
    </a>
    <ul class="charts-container invisible">
        <li>
             <div class="chart-box asistentes">
                <div class="chart chart-1" data-percent=""><span class="inside-values"><span id="count-verifications"></span></span></div>
                <div class="chart-title asistentes">
                    <span id="count-registrations"></span> <br class="visible-xs">Asistentes
                </div>
             </div>
        </li>
        <li>
             <div class="chart-box ponentes">
                <div class="chart chart-2" data-percent=""><span class="inside-values"><span id="count-verified-speakers"></span></span></div>
                <div class="chart-title  ponentes">
                     <span id="count-speakers"></span> <br class="visible-xs">Ponentes
                </div>
             </div>
        </li>
        <li>
             <div class="chart-box vips">
                <div class="chart chart-3" data-percent=""><span class="inside-values"><span id="count-verified-vips"></span></div>
                <div class="chart-title vips">
                    <span id="count-vips"></span><br class="visible-xs"> Vips
                </div>
             </div>
        </li>
    </ul>
{% endblock %}

{% block scripts %}
    <script src="{{ base_url() }}/js/bootstrap-dialog.min.js"></script>
    <script src="{{ base_url() }}/js/jquery.easypiechart.min.js"></script>
    <script src="{{ base_url() }}/js/list.js"></script>
    <script src="{{ base_url() }}/js/instascan.min.js?v=1"></script>
    <script src="{{ base_url() }}/js/scan.js?v24"></script>
    <script>
        var customerList = new List('registrations', {
            valueNames: [
                'name',
                'nif',
                'company'
            ],

            shouldAccentFold: true
        });

        var info = function () {
            $.ajax({
                type: "GET",
                url: "/product/info/{{ product_id }}",
                dataType: "json",
                cache: false,
                context: this,
                success: function(a) {
                    $('#product-name').text(a.name);
                    $('#count-registrations').text(a.registrations.all);
                    $('#count-verifications').text(a.verifications.all);
                    $('#count-speakers').text(a.registrations.speaker);
                    $('#count-verified-speakers').text(a.verifications.speaker);
                    $('#count-vips').text(a.registrations.vip);
                    $('#count-verified-vips').text(a.verifications.vip);

                    loadChart(a);
                },
                error: function(a) {
                    console.log(a);
                },
                complete: function() {
                    // Previous run complete, schedule the next run
                    setTimeout(info, 20000);
                }
            });
        };

        var loadChart = function (a) {
            var percentAssistants = Math.floor((a.verifications.all / a.registrations.all) * 100);
            $('.chart-title, .chart span').animate({opacity: 1}, 3000);
            $('.chart').animate({opacity: 1}, 3000);
            $('.chart-1').attr('data-percent', percentAssistants);
            $('.chart-1').easyPieChart({
                animate: 3000,
                barColor: '#2BAAB1',
                trackColor: '#d6d6d6',
                scaleColor: false,
                lineWidth: 20,
                trackWidth: 16,
                lineCap: 'round',
                size: 150
            });
            var registrationsSpeakers = $('#count-speakers').text();

            var verificationsSpeakers = $('#count-verified-speakers').text();
            var percentSpeakers = Math.floor((verificationsSpeakers / registrationsSpeakers) * 100);
            $('.chart-2').attr('data-percent', percentSpeakers);
            $('.chart-2').easyPieChart({
                animate: 1000,
                barColor: '#007bff',
                trackColor: '#d6d6d6',
                scaleColor: false,
                lineWidth: 20,
                trackWidth: 16,
                lineCap: 'round',
                size: 150
            });

            var percentVips = Math.floor((a.verifications.vip / a.registrations.vip) * 100);
            $('.chart-3').attr('data-percent', percentVips);
            $('.chart-3').easyPieChart({
                animate: 2000,
                barColor: '#6f42c1',
                trackColor: '#d6d6d6',
                scaleColor: false,
                lineWidth: 20,
                trackWidth: 16,
                lineCap: 'round',
                size: 150
            });
            if (percentAssistants >= 0) {
                $('.asistentes').removeClass('hidden');
            }
            if (percentSpeakers >= 0) {
                $('.ponentes').removeClass('hidden');
            }
            if (percentVips >= 0) {
                $('.vips').removeClass('hidden');
            }
            $('.chart-1').data('easyPieChart').update(percentAssistants);
            $('.chart-2').data('easyPieChart').update(percentSpeakers);
            $('.chart-3').data('easyPieChart').update(percentVips);
        };

        $('.verification a').click(function(event) {
            event.preventDefault();

            var unique_id = $(this).data('uniqueid');

            if (unique_id) {
                $.ajax({
                    type: "GET",
                    url: "/registration/verify/"+unique_id,
                    dataType: "json",
                    context: this,
                    cache: false,
                    success: function(a) {
                        if (a.status == 'error') {
                            type = BootstrapDialog.TYPE_DANGER;
                            title = 'Error';
                            message = '<h4>'+a.message+'</h4>';
                            buttons = [{
                                label: '<i class="fa fa-times-circle" aria-hidden="true"></i> Cerrar',
                                cssClass: 'btn-primary btn-lg',
                                action: function(dialog) {
                                    dialog.close();
                                }
                            }];
                        } else if (a.status == 'success') {
                            type = BootstrapDialog.TYPE_SUCCESS;
                            title = a.message;
                            message = '<h4>'+a.user+'<br /><small class="text-danger">'+a.type+'</small></h4>';
                            buttons = [{
                                label: '<i class="fa fa-times-circle" aria-hidden="true"></i> Cerrar',
                                cssClass: 'btn-primary btn-lg',
                                action: function(dialog) {
                                    dialog.close();
                                }
                            }];
                            $(this).data('uniqueid', null)
                                .removeClass('text-muted')
                                .addClass('text-success')
                                .children('i')
                                .removeClass('fa-rotate-180');
                        }
                        BootstrapDialog.show({
                            size: BootstrapDialog.SIZE_LARGE,
                            title: title,
                            message: message,
                            buttons: buttons,
                            type: type
                        });
                        $('input.search').val('');
                    },
                    error: function(a) {
                        console.log(a);
                    }
                });
            }
        });

        $(document).on('click', '.toggler', function(event) {
            event.preventDefault();

            $(this).toggleClass('active');

            $('.charts-container').toggleClass('invisible');
        }).on('click', 'input.search', function () {
            $('.charts-container').addClass('invisible');
            $('.toggler').removeClass('active');
        }).on('keyup', 'input.search', function () {
            var key = $('input.search').val();

            if (key.length >= 3) {
                $('.list').removeClass('hidden');
                $('.btn-clear').removeClass('hidden');
                $('.nolist').addClass('hidden');
                $('.btn-search').addClass('hidden');
            } else {
                $('.nolist').removeClass('hidden');
                $('.list').addClass('hidden');
                $('.btn-clear').addClass('hidden');
                $('.btn-search').removeClass('hidden');
            }
        }).on('click', '.btn-clear', function () {
            $('input.search').val('');
            $('.nolist').removeClass('hidden');
            $('.list').addClass('hidden');
            $('.btn-clear').addClass('hidden');
            $('.btn-search').removeClass('hidden');
        });

        $(document).ready(function() {
            info();
            // monitorEvents();
        });
    </script>
{% endblock %}
