{% extends 'layouts/private.twig' %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/css/bootstrap-dialog.min.css"/>
{% endblock %}

{% block menu %}
    <a href="{{ path_for('registration.create', {'id': product_id}) }}">
        <i class="icon-user-follow fa-2x" aria-hidden="true"></i>
    </a>
    <a href="" class="scan-menu">
        <i class="icon-camera fa-2x" aria-hidden="true"></i>
    </a>
    <a href="" class="search-menu">
        <i class="icon-magnifier fa-2x" aria-hidden="true"></i>
    </a>
    <a href="#" class="logo hidden-xs">
        <img src="/images/trackit-nav.png" alt="Trackit" class="img-responsive img-block">
    </a>
    <a href="#" class="logo-mobile visible-xs">
        <img src="/images/logo_trackit.png" alt="Trackit" class="img-responsive img-block">
    </a>
{% endblock %}

{% block content %}
    <div id="registrations">
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="container">
                    <h3 id="product-name"></h3>
                </div>
            </div>
        </div>
        <div id="scan" class="hidden">
            <video id="preview"></video>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ base_url() }}/js/bootstrap-dialog.min.js"></script>
    <script src="{{ base_url() }}/js/instascan.js"></script>
    <script src="{{ base_url() }}/js/scaninstascan.js"></script>
{% endblock %}
