{% extends 'layouts/private.twig' %}

{% block menu %}
    <a href="{{ path_for('registration.create', {'id': product_id}) }}" class="btn-floating btn-large waves-effect waves-light right transparent"><i class="material-icons">person_add</i></a>
    <a href="#0" class="scan-menu btn-floating btn-large waves-effect waves-light right transparent"><i class="material-icons">camera_alt</i></a>
    <a href="#0" class="search-menu btn-floating btn-large waves-effect waves-light right transparent"><i class="material-icons">search</i></a>
    <a href="#0" class="laser-menu btn-floating btn-large waves-effect waves-light right transparent"><i class="material-icons">speaker_phone</i></a>
    <img src="/images/trackit-nav.png" alt="Trackit" class="responsive-img right logo-menu">
{% endblock %}

{% block content %}
    <main id="registrations">
        <div class="row">
            <div class="col s12 text-center">
                <div class="container">
                    <h3 id="product-name" class="white-text"></h3>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {# <div class="col s12">
                    <div class="to-scan">
                        <h4 class="white-text show-on-small">Listo para escanear</h4>
                        <ul class="appened"></ul>
                    </div>
                    <div style="position:fixed;top:-200px">
                        <input type="text" class="form-control" id="verify" />
                    </div>
                </div> #}
                <div class="col s12">
                    <div class="row mb-0">
                        <div class="input-field col s11">
                            <i class="material-icons prefix white-text btn-search">search</i>
                            <input type="text" class="search white" id="search" />
                            <label for="search">Búsqueda predictiva</label>
                        </div>
                        <div class="input-field col s1">
                            <button class="btn btn-large btn-floating right waves-effect waves-light btn-clear red hide" type="submit" name="action">
                                <i class="material-icons">close</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row to-show">
                <div class="col s12">
                    <table id="list" class="hide grey lighten-5">
                        <thead>
                            <tr>
                                <th>Nombre Apellidos</th>
                                <th>DNI</th>
                                <th>Empresa</th>
                                <th>Orden</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for customer in registrations %}
                                {% if customer.is_authorized == 0 or customer.is_cancelled == 1 %}
                                <tr class=" deep-orange darken-3">
                                {% else %}
                                <tr>
                                {% endif %}
                                    <td>
                                        {{ customer.first_name }} {{ customer.last_name }} <br>
                                        {% if customer.type.name ==  'Ponente'%}
                                            <h5 class="deep-orange-text">{{ customer.type.name }}</h5>
                                        {% else %}
                                            <small>
                                            {{ customer.type.name }}
                                            {% if customer.is_authorized == 0 %}
                                                 | Denegado
                                            {% endif %}
                                            {% if customer.is_cancelled == 1 %}
                                                 | No Asiste
                                            {% endif %}
                                            </small>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ customer.nif }}
                                    </td>
                                    <td>
                                        {{ customer.company }}
                                    </td>
                                    <td>
                                        {{ customer.metadata.orden }}
                                    </td>
                                    <td class="verification">
                                        {% if customer.verification > 0 %}
                                            <span class="text-success">
                                                <i class="fa fa-toggle-on fa-3x" aria-hide="true"></i>
                                            </span>
                                        {% else %}
                                            {% if customer.is_authorized == 0 %}
                                                <span class="text-secondary">
                                                    <i class="fa fa-ban fa-3x" aria-hide="true"></i>
                                                </span>
                                            {% else %}
                                                <a href="#0" class="text-muted" data-uniqueid="{{ customer.unique_id }}">
                                                    <i class="fa fa-toggle-on fa-rotate-180 fa-3x" aria-hide="true"></i>
                                                </a>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <table class="nolist grey lighten-5">
                        <thead>
                            <tr>
                                <th>Nombre Apellidos</th>
                                <th>DNI</th>
                                <th>Empresa</th>
                                <th>Orden</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Actualmente no se muestran resultados.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <div id="instascan" class="hide">
        <video id="preview"></video>
    </div>
{% endblock %}
{% block footer %}
<footer>
    {# <a href="#0" class="toggler">
        <i class="icon-arrow-up" aria-hide="true"></i>
    </a>
    <ul class="charts-container invisible">
        <li>
             <div class="chart-box asistentes">
                <div class="chart chart-1" data-percent=""><span class="inside-values"><span id="count-verifications"></span></span></div>
                <div class="chart-title asistentes">
                    <span id="count-registrations"></span> <br class="visible-xs">Asistentes
                </div>
             </div>
        </li>
        <li>
             <div class="chart-box ponentes">
                <div class="chart chart-2" data-percent=""><span class="inside-values"><span id="count-verified-speakers"></span></span></div>
                <div class="chart-title  ponentes">
                     <span id="count-speakers"></span> <br class="visible-xs">Ponentes
                </div>
             </div>
        </li>
        <li>
             <div class="chart-box vips">
                <div class="chart chart-3" data-percent=""><span class="inside-values"><span id="count-verified-vips"></span></div>
                <div class="chart-title vips">
                    <span id="count-vips"></span><br class="visible-xs"> Vips
                </div>
             </div>
        </li>
    </ul> #}
</footer>

{% endblock %}

{% block scripts %}
    {# <script src="{{ base_url() }}/js/list.js"></script> #}
    <script src="{{ base_url() }}/js/searchtable.js"></script>
    {# <script src="{{ base_url() }}/js/instascan.min.js?v=1"></script> #}
    {# <script src="{{ base_url() }}/js/scan.js?v53"></script> #}
    {# <script src="{{ base_url() }}/js/bootstrap-dialog.min.js"></script> #}
    {# <script src="{{ base_url() }}/js/jquery.easypiechart.min.js"></script> #}
    <script>

        {# var customerList = new List('registrations', {
            valueNames: [
                'name',
                'nif',
                'company'
            ],
            shouldAccentFold: true
        }); #}
        var info = function () {
            $.ajax({
                type: "GET",
                url: "/product/info/{{ product_id }}",
                dataType: "json",
                cache: false,
                context: this,
                success: function(a) {
                    $('#product-name').text(a.name);
                    $('#count-registrations').text(a.registrations.all);
                    $('#count-verifications').text(a.verifications.all);
                    $('#count-speakers').text(a.registrations.speaker);
                    $('#count-verified-speakers').text(a.verifications.speaker);
                    $('#count-vips').text(a.registrations.vip);
                    $('#count-verified-vips').text(a.verifications.vip);

                    // loadChart(a);
                },
                error: function(a) {
                    console.log(a);
                },
                complete: function() {
                    // Previous run complete, schedule the next run
                    setTimeout(info, 20000);
                }
            });
        };

        {# var loadChart = function (a) {
            var percentAssistants = Math.floor((a.verifications.all / a.registrations.all) * 100);
            $('.chart-title, .chart span').animate({opacity: 1}, 3000);
            $('.chart').animate({opacity: 1}, 3000);
            $('.chart-1').attr('data-percent', percentAssistants);
            $('.chart-1').easyPieChart({
                animate: 3000,
                barColor: '#2BAAB1',
                trackColor: '#d6d6d6',
                scaleColor: false,
                lineWidth: 20,
                trackWidth: 16,
                lineCap: 'round',
                size: 150
            });
            var registrationsSpeakers = $('#count-speakers').text();

            var verificationsSpeakers = $('#count-verified-speakers').text();
            var percentSpeakers = Math.floor((verificationsSpeakers / registrationsSpeakers) * 100);
            $('.chart-2').attr('data-percent', percentSpeakers);
            $('.chart-2').easyPieChart({
                animate: 1000,
                barColor: '#007bff',
                trackColor: '#d6d6d6',
                scaleColor: false,
                lineWidth: 20,
                trackWidth: 16,
                lineCap: 'round',
                size: 150
            });

            var percentVips = Math.floor((a.verifications.vip / a.registrations.vip) * 100);
            $('.chart-3').attr('data-percent', percentVips);
            $('.chart-3').easyPieChart({
                animate: 2000,
                barColor: '#6f42c1',
                trackColor: '#d6d6d6',
                scaleColor: false,
                lineWidth: 20,
                trackWidth: 16,
                lineCap: 'round',
                size: 150
            });
            if (percentAssistants >= 0) {
                $('.asistentes').removeClass('hide');
            }
            if (percentSpeakers >= 0) {
                $('.ponentes').removeClass('hide');
            }
            if (percentVips >= 0) {
                $('.vips').removeClass('hide');
            }
            $('.chart-1').data('easyPieChart').update(percentAssistants);
            $('.chart-2').data('easyPieChart').update(percentSpeakers);
            $('.chart-3').data('easyPieChart').update(percentVips);
        };#}

        {# $('.verification a').click(function(event) {
            event.preventDefault();

            var unique_id = $(this).data('uniqueid');

            if (unique_id) {
                $.ajax({
                    type: "GET",
                    url: "/registration/verify/"+unique_id+"?method=manual",
                    dataType: "json",
                    context: this,
                    cache: false,
                    success: function(a) {
                        var title, message, buttons, type;
                        var metadata = '';

                        if (a.status == 'error') {
                            type = BootstrapDialog.TYPE_DANGER;
                            title = 'Error';
                            message = '<h4>'+a.message+'</h4>';
                            buttons = [{
                                label: '<i class="fa fa-times-circle" aria-hide="true"></i> Cerrar',
                                cssClass: 'btn-primary btn-lg',
                                action: function(dialog) {
                                    dialog.close();
                                }
                            }];
                        } else if (a.status == 'warning') {
                            type = BootstrapDialog.TYPE_WARNING;
                            title = 'Cuidado';
                            message = '<h4>' + a.message + '</h4>';
                            buttons = [
                                {
                                    label:
                                        '<i class="fa fa-times-circle" aria-hide="true"></i> Cerrar',
                                    cssClass: 'btn-primary btn-lg',
                                    action: function(dialog) {
                                        dialog.close();
                                    }
                                }
                            ];
                        } else if (a.status == 'success') {
                            for (var key in a.metadata) {
                                metadata += '<strong>'+key+'</strong>: '+a.metadata[key]+'<br>';
                            }

                            type = BootstrapDialog.TYPE_SUCCESS;
                            title = a.message;
                            message = '<h4>'+a.user+'<br /><small class="text-danger">'+a.type+'</small><br><small>'+metadata+'</small></h4>';
                            buttons = [{
                                label: '<i class="fa fa-times-circle" aria-hide="true"></i> Cerrar',
                                cssClass: 'btn-primary btn-lg',
                                action: function(dialog) {
                                    dialog.close();
                                }
                            }];
                            $(this).data('uniqueid', null)
                                .removeClass('text-muted')
                                .addClass('text-success')
                                .children('i')
                                .removeClass('fa-rotate-180');
                        }
                        BootstrapDialog.show({
                            size: BootstrapDialog.SIZE_LARGE,
                            title: title,
                            message: message,
                            buttons: buttons,
                            type: type
                        });
                        $('input.search').val('');

                    },
                    error: function(a) {
                        console.log(a);
                    }
                });
            }
        }); #}

        $(document).on('click', '.toggler', function(event) {
            event.preventDefault();
            $(this).toggleClass('active');
            // $('.charts-container').toggleClass('hide');
        }).on('click', 'input.search', function () {
            // $('.charts-container').addClass('hide');
            $('.toggler').removeClass('hide');
        }).on('keyup', 'input.search', function () {
            var key = $('input.search').val();
            if (key.length >= 3) {
                mySearch();
                $('#list').removeClass('hide');
                $('.btn-clear').removeClass('hide');
                $('.nolist').addClass('hide');
            } else {
                $('.nolist').removeClass('hide');
                $('#list').addClass('hide');
                $('.btn-clear').addClass('hide');
            }
        }).on('click', '.btn-clear', function () {
            $('input.search').val('');
            $('.nolist').removeClass('hide');
            $('#list').addClass('hide');
            $('.btn-clear').addClass('hide');
        });
        
        $(document).ready(function() {
             info();
             // monitorEvents();
         });
    </script>
{% endblock %}
