{% extends 'layouts/private.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">Cambiar la contarseña</div>
                <div class="panel-body">
                    <form action="{{ path_for('auth.change.password', {'lang': lang}) }}" method="POST">
                        <div class="form-group{{ validation_errors.password ? ' has-error' : '' }}">
                            <label for="password">Current Password</label>
                            <input type="password" class="form-control" id="password" name="password">
                            {% if validation_errors.password %}
                                <span class="help-block">
                                    {{ validation_errors.password | first }}
                                </span>
                            {% endif %}
                        </div>
                        <div class="form-group{{ validation_errors.new_password ? ' has-error' : '' }}">
                            <label for="new_password">New Password</label>
                            <input type="password" class="form-control" id="new_password" name="new_password">
                            {% if validation_errors.new_password %}
                                <span class="help-block">
                                    {{ validation_errors.new_password | first }}
                                </span>
                            {% endif %}
                        </div>
                        <button type="submit" class="btn btn-default">Change Password</button>
                        {{ csrf.field | raw }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
