{% extends 'layouts/login.twig' %}

{% block content %}
<section class="body-sign">
    <div class="center-sign">
        <a href="/" class="logo pull-left">
            <img src="{{ base_url() }}/assets/images/logo.png" alt="Trackit" height="45">
        </a>

        <div class="panel panel-sign">
            <div class="panel-title-sign mt-xl text-right">
                <h2 class="title text-uppercase m-none"><i class="fa fa-user mr-xs"></i> Regístrate</h2>
            </div>
            <div class="panel-body">
                <form action="{{ path_for('auth.signup', {'lang': lang}) }}" method="POST">
                    <div class="form-group mb-lg{{ validation_errors.first_name ? ' has-error' : '' }}">
                        <label for="first_name">Name</label>
                        <input type="text" class="form-control input-lg" id="first_name" placeholder="John" name="first_name" value="{{ old_input.first_name }}">
                        {% if validation_errors.first_name %}
                            <span class="help-block">
                                {{ validation_errors.first_name | first }}
                            </span>
                        {% endif %}
                    </div>
                    <div class="form-group mb-lg{{ validation_errors.last_name ? ' has-error' : '' }}">
                        <label for="last_name">Last Name</label>
                        <input type="text" class="form-control input-lg" id="last_name" placeholder="Doe" name="last_name" value="{{ old_input.last_name }}">
                        {% if validation_errors.last_name %}
                            <span class="help-block">
                                {{ validation_errors.last_name | first }}
                            </span>
                        {% endif %}
                    </div>
                    <div class="form-group mb-lg{{ validation_errors.email ? ' has-error' : '' }}">
                        <label for="email">Email</label>
                        <input type="email" class="form-control input-lg" id="email" placeholder="johndoe@example.com" name="email" value="{{ old_input.email }}">
                        {% if validation_errors.email %}
                            <span class="help-block">
                                {{ validation_errors.email | first }}
                            </span>
                        {% endif %}
                    </div>
                    <div class="form-group mb-lg{{ validation_errors.password ? ' has-error' : '' }}">
                        <label for="password">Password</label>
                        <input type="password" class="form-control input-lg" id="password" name="password">
                        {% if validation_errors.password %}
                            <span class="help-block">
                                {{ validation_errors.password | first }}
                            </span>
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Check me out
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <button type="submit" class="btn btn-primary btn-block btn-lg">Registrarme</button>
                            {{ csrf.field | raw }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
