{% extends 'layouts/public.twig' %}

{% block head %}
    <img src="/images/logo_oracle.png" alt="Trackit" class="img-responsive img-block logo-initial">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row login">
            <div class="col-xs-8 col-xs-offset-2">
                {% include 'partials/flash.twig' %}
                <form action="{{ path_for('auth.signin') }}" method="POST">
                    <h4>Iniciar sesión</h4>
                    <div class="form-group{{ validation_errors.email ? ' has-error' : '' }}">
                        <input type="email" name="email" class="form-control" id="email" placeholder="Email" value="staff1@ue.com">
                        {# <input type="email" name="email" class="form-control" id="email" placeholder="Email" value="{{ old_input.email }}"> #}
                        {% if validation_errors.email %}
                            <span class="help-block">
                                {{ validation_errors.email | first }}
                            </span>
                        {% endif %}
                    </div>
                    <div class="form-group{{ validation_errors.password ? ' has-error' : '' }}">
                        <input type="password" name="password" class="form-control" id="password" placeholder="Password" value="staff1">
                        {% if validation_errors.password %}
                            <span class="help-block">
                                {{ validation_errors.password | first }}
                            </span>
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-xs-6 text-left">
                            <a href="#">No recuerdo la contraseña</a>
                        </div>
                        <div class="col-xs-6 text-right">
                            <button type="submit" class="btn-xl"><i class="icon-check" aria-hidden="true"></i></button>
                            {{ csrf.field | raw }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center">
            © Metech 2017
        </div>
    </div>
</div>  
{% endblock %}
